.confirmContainer {
  max-width: 100vw;
  background-color: white;

  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10vmax;
  /* border-bottom: 1px solid black; */
}
.confirmBox {
  width: 90%;

  display: grid;
  grid-template-columns: 7.9fr 0.1fr 4fr;
  box-sizing: border-box;
}
.confirmBox > div:first-child {
  display: flex;
  flex-direction: column;
  padding: 10vmax 0;
}
.confirmShipInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1vmax 0.5vmax;
}
.confirmShipInfo > p {
  font: 500 1.7vmax "Roboto";
}
.confirmShipInfoBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.7vmax 3vmax;
}
.confirmShipInfoBox > div {
  display: flex;
  align-items: center;
}
.confirmShipInfoBox > div > p {
  font: 400 1.1vmax "Roboto";
  padding: 1vmax;
}
.confirmShipInfoBox > div > span {
  font: 500 1.5 vmax "Franklin";
}
.confirmLine {
  width: 1px;
  background-color: black;
  height: 100%;
  min-height: 100vh;
}
.confirmOrderCartItems {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  /* border:3px solid  black; */
  padding: 1vmax 0.5vmax;
}
.confirmOrderCartItems > p {
  font: 500 1.7vmax "Franklin";
}
.ordersummary {
  box-sizing: border-box;
  width: 100%;
  /* border: 3px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 5vmax 1vmax;
}
.ordersummary > p {
  font: 500 1.8vmax "Gill-Sans";
  border-bottom: 1px solid black;
  text-align: center;
}
.confirmOrderSummary {
  display: flex;
  flex-direction: column;
}
.confirmOrderSummary > div {
  font: 400 1.1vmax "Franklin";
  display: flex;
  justify-content: space-between;
  padding: 1vmax 2vmax;
}
.confirmOrderSummary > div:last-child > p {
  font: 600 1vmax "Roboto";
}
.ordersummary > button {
  width: 80%;
  background-color: tomato;
  padding: 1vmax;
  text-align: center;
  font: 400 1.2vmax "Robtot";
  outline: none;
  border: none;
  margin: 1vmax auto;
  color: white;
  cursor: pointer;
}
@media screen and (max-width: 600px) {
    .confirmContainer{
        margin-bottom: 2vmax;
        height: 70vh;
    }
  .confirmBox {
    width: 100%;
    /* border: 3px solid black; */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2vmax;
  }
  .confirmBox > div:first-child {
    display: flex;
    flex-direction: column;
    padding: 0vmax 0;
    width: 100%;
    /* border: 3px solid black; */
    height: 100%;
    justify-content: flex-start;

  }
  .confirmShipInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1vmax 0.5vmax;
  }
  .confirmShipInfo > p {
    font: 500 1.8vmax "Roboto";
    /* border: 3px solid black; */

  }
  .confirmShipInfoBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.7vmax 1vmax;
    /* border: 3px solid black; */

  }
  .confirmShipInfoBox > div {
    display: flex;
    align-items: center;
  }
  .confirmShipInfoBox > div > p {
    font: 400 1.5vmax "Roboto";
    padding: 1vmax;
    /* border: 3px solid black; */

  }
  .confirmShipInfoBox > div > span {
    font: 600 1.5vmax "Franklin"
  }
  .confirmLine {
    width: 0px;
    height: 0px;
    min-height: 2vh;
  }
  .confirmOrderCartItems {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    /* border:3px solid  black; */
    padding: 1vmax 0.5vmax;
  }
  .confirmOrderCartItems > p {
    font: 500 1.7vmax "Franklin";
  }
  .ordersummary {
    box-sizing: border-box;
    width: 100%;
    /* border: 3px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 5vmax 1vmax;
  }
  .ordersummary > p {
    font: 500 2vmax "Gill-Sans";
    border-bottom: 1px solid black;
    text-align: center;
  }
  .confirmOrderSummary {
    display: flex;
    flex-direction: column;
  }
  .confirmOrderSummary > div {
    font: 400 1.5vmax "Franklin";
    display: flex;
    justify-content: space-between;
    padding: 1vmax 2vmax;
  }
  .confirmOrderSummary > div:last-child > p {
    font: 600 1.4vmax "Roboto";
  }
  #ordersummary-btn{
    padding: 1.2vmax;
    font: 400 1.6vmax "Robto";
    border-radius: 1rem;

  }
}
