.productDetail {
  background-color: rgb(255, 255, 255);
  width: 100vw;
  max-width: 100%;
  padding: 10vmax;
  box-sizing: border-box;
  padding-bottom: 4vmax;
  display: flex;
}
.productDetail > div {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 2vmax;
  box-sizing: border-box;
}
.productDetail > div:last-child {
  align-items: flex-start;
}
.prod {
  width: 35vmax;
  max-height: 100%;
}
.CarouselImage {
  padding-left: 5vmax;
  width: 24vmax;
  height: 25vmax;
}
.detailBlock-1 > h2 {
  color: rgb(54, 54, 54);
  font: 600 1.6vmax "Roboto";
}
.detailBlock-1 > p {
  color: rgba(54, 54, 54, 0.582);
  font: 200 0.6vmax cursive;
}

.detailBlock-2 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-top: 1px solid rgba(0, 0, 0, 0.205);
  border-bottom: 1px solid rgba(0, 0, 0, 0.205);
  width: 70%;
  padding: 1vmax 0;
}

.detailBlock-2-span {
  font: 200 0.8vmax cursive;
  color: rgba(0, 0, 0, 0.699);
}

.detailBlock-3 {
  /* border: 3px solid black; */
  width: 70%;
}

.detailBlock-3 > h1 {
  color: rgba(17, 17, 17, 0.795);
  font: 400 1.8vmax "Franklin Gothic Medium";
  margin: 1vmax 0;
}
.detailBlock-3-1 {
  display: flex;
  align-items: center;
}

.detailBlock-3-1-1 > button {
  border: none;
  background-color: rgba(0, 0, 0, 0.616);
  padding: 0.5vmax;
  cursor: pointer;
  color: white;
  border-radius: 2rem;
  transition: all 0.5s;
}
.detailBlock-3-1-1 > button:hover {
  background-color: rgba(0, 0, 0, 0.767);
}

.detailBlock-3-1-1 > input {
  border: none;
  padding: 0.5vmax;
  width: 2vmax;
  text-align: center;
  outline: none;
  font: 400 1vmax "Roboto";

  color: rgba(0, 0, 0, 0.74);
}

.detailBlock-3-1 > button:last-child {
  height: 2vmax;
  border: none;
  cursor: pointer;
  color: white;
  transition: all 0.5s;
  background-color: tomato;
  font: 500 1vmax "Roboto";
  border-radius: 20px;
  padding: 0.5vmax 2vmax;
  margin: 1vmax;
  outline: none;
}

.detailBlock-3-1 > button:last-child:hover {
  background-color: rgb(214, 84, 61);
  transform: scale(1.1);
}

.detailBlock-3 > p {
  border-top: 1px solid rgba(0, 0, 0, 0.205);
  border-bottom: 1px solid rgba(0, 0, 0, 0.205);
  padding: 1vmax 0;
  color: rgba(0, 0, 0, 0.651);
  font: 400 1vmax "Roboto";
  margin: 1vmax 0;
}

.detailBlock-4 {
  color: rgba(0, 0, 0, 0.897);
  font: 500 1.2vmax sans-serif;
}

.detailBlock-4 > p {
  color: rgba(0, 0, 0, 0.534);
  font: 300 0.8vmax sans-serif;
}

.submitReview {
  border: none;
  background-color: tomato;
  font: 500 1vmax "Roboto";
  border-radius: 20px;
  padding: 0.6vmax 2vmax;
  margin: 1vmax 0;
  color: white;
  cursor: pointer;
  transition: all 0.5s;
  outline: none;
}
.submitReview:hover {
  background-color: rgb(197, 68, 45);
  transform: scale(1.1);
}
.reviewHeading {
  margin: 0 auto;
  width: 20vmax;
  color: black;
  border-bottom: 1px solid rgba(0, 0, 0, 0.205);
  font: 500 1.4vmax "Roboto";
  text-align: center;
  margin-bottom: 3vmax;
  padding: 1vmax;
  margin-top: -3vmax;
}
.review {
  cursor: pointer;
  padding: 1vmax 10vmax;
  display: flex;
  overflow: auto;
}
.reviewcard {
  flex: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.226);
  border: 2px solid rgba(56, 56, 56, 0.116);
  width: 20vmax;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1vmax;
  padding: 3vmax;
}
.reviewcard > img {
  width: 5vmax;
}

.reviewcard > p {
  color: rgba(0, 0, 0, 0.897);
  font: 600 0.9vmax "Robtot";
}
.reviewcard > span {
  color: rgba(0, 0, 0, 0.6);
  font: 300 0.8vmax cursive;
}

.noreviews {
  font: 400 1.8vmax "Gill Sans";
  color: rgba(0, 0, 0, 0.6);
  text-align: center;
  margin-bottom: 3vmax;
}
.redColor {
  color: red;
}
.greenColor {
  color: green;
}
@media only screen and (max-width: 600px) {
  .productDetail {
    flex-direction: column;
  }
  .detailBlock-1 > h2 {
    color: rgb(54, 54, 54);
    font: 600 2vmax "Roboto";
  }
  .detailBlock-1 > p {
    color: rgba(54, 54, 54, 0.582);
    font: 600 1.4vmax "cursive";
  }
  .productDetail > div:first-child {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: 2vmax; */
    box-sizing: border-box;
  }
  .CarouselImage {
    width: 30vmax;
  }
  .detailBlock-2 {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
  }
  .detailBlock-3 {
    width: 100%;
    height: 100%;
  }
  .detailBlock-3-1-1 > button {
    width: 3vmax;
    border-radius: 100%;
  }
  .detailBlock-3-1-1 > input {
    font-size: 2vmax;
    
  }
  #addTocart{
    height: 4vmax;
    font: 500 1.5vmax 'Roboto';
  }
  .detailBlock-3 > p {
    font: 400 1.5vmax "Roboto";
  }
  .detailBlock-4 {
    /* color: rgba(0, 0, 0, 0.897); */
    font: 500 1.9vmax sans-serif;
  }
  
  .detailBlock-4 > p {
    color: rgba(0, 0, 0, 0.7);
    font: 300 1.4vmax sans-serif;
  }
  .submitReview {
    font: 500 1.4vmax "Roboto";
    padding: 1vmax 2vmax;
  }
  .reviewHeading {
    margin: 0 auto;
    width: 20vmax;
    color: black;
    border-bottom: 1px solid rgba(0, 0, 0, 0.205);
    font: 500 1.6vmax "Roboto";
    text-align: center;
    margin-bottom: 3vmax;
    padding: 1vmax;
    margin-top: -3vmax;

  }
  .review {
    cursor: pointer;
    padding: 1vmax 10vmax;
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* border: 3px sol  id black; */


  }
  .reviewcard{
    width: 30vmax;
  }
  .reviewcard > p {
    color: rgba(0, 0, 0, 0.897);
    font: 600 1.5vmax "Roboto";

  }
  .reviewcard > span {
    font: 300 1.5vmax cursive;
    /* border: 3px solid black; */
  }
  
  .noreviews {
    font: 400 2.3vmax "Gill Sans";
  }
}

