.forget-container{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items:center;
    background-color: white;
}
.forget-box{
    border-radius: 20px;
    width: 25%;
    height: 40vh;
    background-color: white;
    overflow: hidden;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.3);
}
.forget-form{
    display: flex;
    height: 90%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 2vmax;
    transition: all 0.5s;

}

.forget-form >div{
    display: flex;
    width: 100%;
    align-items: center;
}
.forget-form >div > input{
    padding: 1vmax 4vmax;
    padding-right: 1vmax;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid rgba(0,0,0,0.267);
    border-radius: 4px;
    font: 300 0.9vmax cursive;
    outline: none;
}
.forget-form >div > svg{
    position: absolute;
    transform: translateX(1vmax);
    font-size: 1.6vmax;
    color: rgba(0,0,0,0.65);
}

.forget-btn{
    text-align: center;
    border: none;
    background-color: tomato;
    color: white;
    outline: none;
    font: 300 0.9vmax "Roboto";
    width: 100%;
    padding: 1vmax;
    cursor: pointer;
    transition: all 0.5s;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.219);

}
.forget-btn:hover{
    background-color: black;
}
