.cartContainer {
  width: 90%;
  min-height: 100vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.cartHeader {
  background-color: tomato;
  width: 90%;
  box-sizing: border-box;
  margin: 2vmax auto;
  color: white;
  display: flex;
  justify-content: space-around;

  font: 300 0.7vmax "Roboto";
  height: max-content;
}
.cartHeader > p {
  margin: 10px;
  font: 400 1.3vmax "Gill-Sans";
}
.cartHeader > p:last-child {
  text-align: end;
}
.cartItemLine {
  width: 90%;
  display: flex;
  flex-direction: column;
}
.cartItems {
  width: 100;
  display: flex;
  box-sizing: border-box;
  box-shadow: 0 0 10px rgba(15, 15, 15, 0.26);
  margin: 0.6vmax 0;
  border-radius: 20px;
}
.itemQuantity {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 2vmax;
}
.itemQuantity > span {
  font-family: "Roboto";
  padding: 0.5vmax;
  outline: none;
  text-align: center;
}
.itemQuantity > button {
  border: none;
  background-color: rgba(0, 0, 0, 0.616);
  padding: 0.8vmax;
  cursor: pointer;
  color: white;
  transition: all 0.5s;
  border-radius: 10px;
}
.itemsQuantity :button :hover {
  background-color: rgba(0, 0, 0, 0.767);
}
.itemSubTotal {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.itemSubTotal > span {
  font: 600 1.5vmax "Roboto";
}
.itemTotal {
  width: 90%;
  display: flex;
  justify-content: flex-end;
  box-sizing: border-box;
  align-items: center;
  margin-bottom: 5vmax;
}
.itemTotal > div {
  padding: 1.5vmax 5vmax;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.itemTotal > div > h2 {
  border-bottom: 10px solid tomato;
  width: 12vmax;
  text-align: center;
}
.itemTotal > div > p {
  margin: 1vmax 0;
  font: 700 1.6vmax "Franklin";
  text-align: center;
}
.itemTotal > div > button {
  cursor: pointer;
  font: 400 1.4vmax "Roboto";
  text-align: center;
  background-color: tomato;
  color: black;
  border: none;
  outline: none;
  padding: 1vmax 2vmax;
  border-radius: 10px;
}
@media screen and (max-width: 600px) {
  .cartContainer {
    width: 100%;
    min-height: 100vh;
  }
  .cartHeader {
    background-color: tomato;
    width: 95%;
    box-sizing: border-box;
    margin: 2vmax auto;
    color: white;
    display: flex;
    justify-content: space-around;
    height: max-content;
  }
  .cartHeader > p {
    margin: 10px;
    font: 400 2vmax "Gill-Sans";
  }
  .cartItemLine {
    width: 95%;
  }
  .cartItems {
    border-radius: 1rem;
  }
  .itemQuantity {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 2vmax;

  }
  
  .itemQuantity > button {
   
    height: 4vmax;
    width: 3vmax;
    
    border-radius: 100%;
  }
  
  
  .itemTotal > div > h2 {
    border-bottom: 10px solid tomato;
    width: 12vmax;
    text-align: center;
  }
  .itemTotal > div > p {
    
    font: 700 2.4vmax "Franklin";
    
  }
  .itemTotal > div > button {
    
    font: 400 2vmax "Roboto";
    
  }
}
